@keyframes showBuyBlock {
    0% {
      transform: translate(0, 100px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  
  .sticky-buy-block {
    position: fixed;
    bottom: 2px;
    left: 15px;
    right: 17px;
    background: linear-gradient(
        271.57deg,
        rgba(0, 168, 142, 0.4) 77.05%,
        rgba(126, 255, 51, 0.4) 100%
      ),
      #23d1ae;
    height: 67px;
    display: grid;
    grid-template-columns: 68% 32%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      'title button'
      'tariff button';
    animation: showBuyBlock 0.6s ease;
  }
  
  .sticky-buy-block_hidden {
    display: none;
  }
  .sticky-buy-block__title {
    grid-area: title;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    color: #1d1d1b;
    margin: 0;
    padding: 13px 0 7px 12px;
  }
  
  .sticky-buy-block__open-full {
    grid-area: tariff;
    outline: none;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 14px;
    line-height: 1.43;
    text-align: left;
    color: #1d1d1b;
    margin: 0;
    padding: 0 0 7px 12px;
    transition: opacity 0.4s ease;
  }
  
  .sticky-buy-block__open-full:hover {
    opacity: 0.8;
  }
  
  .sticky-buy-block__price {
    font-weight: 600;
  }
  
  .sticky-buy-block__submit {
    grid-area: button;
    justify-self: end;
    margin: 12px 15px 7px 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    border: none;
    height: 48px;
    width: 78px;
    background: #ff3748;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    color: #fff;
    transition: opacity 0.4s ease;
  }
  
  .sticky-buy-block__submit:hover {
    opacity: 0.8;
  }
  
  .cybersecurity {
    min-height: 1000px;
  }
  